= form_for(@recommendation) do |f|
  - if @recommendation.errors.any?
    %h2
      = pluralize(@recommendation.errors.count, "error")
      prohibited this recommendation from being saved:
    %ul
      - @recommendation.errors.full_messages.each do |msg|
        %li= msg

  %div
    = label_tag "Search for a bar"
    = text_field_tag "autocomplete"
  %div
    = label_tag "Name"
    = text_field_tag "name"
  %div
    = f.label :review, "Recommendation"
    = f.text_field :review, title: "Your recommendation in 200 characters or fewer", data: {tooltip: true}
  %div
    = f.label :tag_list, "Tags"
    = f.text_field :tag_list, title: "Separate your tags with commas", data: {tooltip: true}
  
  .actions
    = f.submit :class => "button radius" 