= form_for(@recommendation) do |f|
  - if @recommendation.errors.any?
    %h2
      = pluralize(@recommendation.errors.count, "error")
      prohibited this recommendation from being saved:
    %ul
      - @recommendation.errors.full_messages.each do |msg|
        %li= msg

  %div
    = f.collection_select :bar_id, @bars, :id, :name, include_blank: true
    = link_to "Create new bar", new_bar_path
  %div
    = f.label :review, "Recommendation"
    = f.text_field :review, title: "Your recommendation in 200 characters or fewer", data: {tooltip: true}
  %div
    = f.label :tag_list, "Tags"
    = f.text_field :tag_list, title: "Separate your tags with commas", data: {tooltip: true}
  
  .actions
    = f.submit