%h3 Recommendations
- @recommendations.each do |recommendation|
  .panel

    %ul
      = recommendation.bar.try :name
      = recommendation.user.try :name
      %li= recommendation.review
      / %li= raw recommendation.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')
      %ul.inline-list
        %li= link_to 'Show', recommendation
        %li= link_to 'Edit', edit_recommendation_path(recommendation)
        %li= link_to 'Destroy', recommendation, method: :delete, data: { confirm: 'Are you sure?' }