= search_form_for @q do |f|
  %p
    = f.label :review_cont
    = f.text_field :review_cont
  %p
    = f.submit

    - @recommendation_search.each do |recommendation_search|
      %ul
        %li= recommendation_search.bar.try :name  
      %ul
        %li= recommendation_search.try :review

- if !@recommendations.empty? 
  %h2 drinkfindr recommendations
  - @recommendations.each do |recommendation|
    #recommendations-display
      .panel
        %ul.right#profile
          - if recommendation.user.profile_pic?
            %li= link_to image_tag(recommendation.user.profile_pic.thumb.url), recommendation.user
            %li= recommendation.user.try :name
          - else
            %li= link_to image_tag(recommendation.user.gravatar_url), recommendation.user 
            %li= recommendation.user.try :name

        %ul.inline-list#details
          %li= recommendation.bar.try :name  
          %li
            %em= "drinkfound #{time_ago_in_words(recommendation.created_at)} ago"
        %ul
          %li= recommendation.review
          / %li= raw recommendation.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')
        %ul.inline-list
          %li= link_to 'Show', recommendation
          -if current_user.role?(:admin)
            %li= link_to 'Edit', edit_recommendation_path(recommendation)
            %li= link_to 'Destroy', recommendation, method: :delete, data: { confirm: 'Are you sure?' }