%h1 Recommendations
#tag_cloud
  - tag_cloud Recommendation.tag_counts, %w[s m l] do |tag, css_class|
    = link_to tag.name, tag_path(tag.name), class: css_class
%table
  %thead
    %tr
      %th Review
      %th Bar
      %th Tags
      %thead 
      %th
      %th
    - @recommendations.each do |recommendation|
      %tr
        %td= recommendation.review
        %td= raw recommendation.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')
        %td= link_to 'Show', recommendation
        %td= link_to 'Edit', edit_recommendation_path(recommendation)
        %td= link_to 'Destroy', recommendation, method: :delete, data: { confirm: 'Are you sure?' }