.row
  %table
    %thead
      %tr
        %th Bar name
        %th Location
        %th Review
        %th Tags
        %th Added by
    %tbody
      %tr
        %td= @recommendation.bar.try :name
        %td= @recommendation.bar.try :location
        %td= @recommendation.review
        %td= raw @recommendation.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')
        %td= "#{time_ago_in_words(@recommendation.created_at)} ago by #{(@recommendation.user.try :name)}"

  .inline-list.right
    %p= link_to 'Back', recommendations_path
  -if current_user.role?(:admin)
    %p= link_to 'Edit', edit_recommendation_path(@recommendation)

  / .button-bar
  /   %ul.button-group{:class => "radius round"}
  /     %li
  /       %a.small.button.success{:class => "tiny large alert secondary", :href => "#"} Edit
  /     %li
  /       %a.small.button.success{:class => "tiny large alert secondary", :href => "#"} Back
     