
.panel
  %h2= @bar.name
  %p= @bar.location
  %p= @bar.recommendations

.panel
  = image_tag "http://maps.google.com/maps/api/staticmap?size=600x300&sensor=false&zoom=18&markers=#{@bar.latitude}%2C#{@bar.longitude}&style=saturation:-100|gamma:0.8|lightness:4|visibility:on|&style=feature:landscape.natural|visibility:on|color:0x5dff00|gamma:4.97|lightness:-5|saturation:100"

.panel
  %h4 Recommended bars nearby
  %ul
    - for bar in @bar.nearbys(2)
      %li
        = link_to bar.name, bar
        (#{bar.distance.round(2)} miles)

  %p= link_to 'Edit', edit_bar_path(@bar)
  %p= link_to 'Back', bars_path
