= @bar.name
= @bar.location

= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=18&markers=#{@bar.latitude}%2C#{@bar.longitude}"

%h3 Nearby bars
%ul
  - for bar in @bar.nearbys(2)
    %li
      = link_to bar.name, bar
      (#{bar.distance.round(2)} miles)

= link_to 'Edit', edit_bar_path(@bar)
= link_to 'Back', bars_path
