%h1 Users
%table
  %thead
    %tr
      %th Name
      %th Email
      %th Role
      %th
      %th
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td= user.role
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?', showCancelButton: true}
