.row
  %h2 Users
.row
  %table
    %thead
      %tr
        %th Picture
        %th Name
        %th Email
        %th Role
        %th Add
        %th
        %th
        %th
    - @users.each do |user|
      %tr
        %td
          - if user.profile_pic?
            = link_to image_tag(user.profile_pic.thumb.url), user.profile_pic.detail.url  
          - else
            = link_to image_tag user.gravatar_url
        %td= user.name
        %td= user.email
        %td= user.role
        %td= link_to 'Add Friend', friendships_path(:friend_id => user), :method => :post
        -if current_user.role?(:admin)
          %td= link_to 'Show', user_path(user)
          %td= link_to 'Edit', edit_user_path(user)
          %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }
