.row
  .large-2.columns.small-3
    %img
      - if @user.profile_pic?
        = link_to image_tag(@user.profile_pic.thumb.url), @user.profile_pic.detail.url  
      - else
        = link_to image_tag @user.gravatar_url
  .large-10.columns
    %p
  %p 
    %h2= @user.name
    %ul
      %li= @user.email
      %li=  "Became a drinkfindr #{time_ago_in_words(@user.created_at)} ago" 

.panel#profile
  - if @user.recommendations.any? 
    - @user.recommendations.each do |recommendation|
      .row
        .large-3.columns.small-3
          %p
            %b= recommendation.bar.try :name
        .large-9.columns
          %p= recommendation.try :review
  - else
    %p There's nothing here! Why not make some recommendations?

.panel#profile
  - if @user.friendships.any? 
    %b Your friends
    - for friendship in @user.friendships
      .row
        .large-3.columns.small-3
          %p= h friendship.friend.name    
        .large-9.columns
        - if @user == current_user
          #{link_to "remove", friendship, :method => :delete}
  - else
    %p No friends yet, #{(@user.name)}? That's ok. Go find some!
  - if @user.inverse_friends.any?
    %p
      %b Friended by
      - for user in @user.inverse_friends
        .row
          .large-2.columns.small-3
            %p= h user.name
          .large-10.columns
              
.inline-list
  %li= link_to "Find some more friends!", users_path
  %li= link_to 'Edit your profile', edit_user_path(@user)
  %li= link_to 'Back', users_path
  
