%p= notice
%p
  %b Name:
  = @user.name
%p
  %b Profile pic:
  = link_to image_tag(@user.profile_pic.thumb.url), @user.profile_pic.detail.url 
%p
  %b Email:
  = @user.email
%p
  %b Recommendations:

= link_to 'Edit', edit_user_path(@user)
= link_to 'Back', users_path
