%p= notice
%p
  %b Name:
  = @user.name
%p
  %b Profile pic:
  - if @user.profile_pic?
    = link_to image_tag(@user.profile_pic.thumb.url), @user.profile_pic.detail.url  
  - else
    = link_to image_tag @user.gravatar_url
%p
  %b Email:
  = @user.email
%p
  %b Recommendations:

= link_to 'Edit', edit_user_path(@user)
= link_to 'Back', users_path
