!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "drinkfinder"
    .login
      - if current_user
        = current_user.email
        = link_to "Log out", destroy_user_session_path, method: :delete
      - else
        = link_to "Sign In", new_user_session_path
        = link_to "Register", new_user_registration_path
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %nav
  %ul.side-nav
    %li
      %a= link_to 'Recommendations', recommendations_path
    %li
      %a= link_to 'Users', users_path
    %li
      %a= link_to 'New recommendation', new_recommendation_path
    %li
      %a= link_to 'Bar index', bars_path
    %li
      / %a{:href => "#"} Trending
    %li
      / %a= link_to 'Profile', current_user_path
    %li
      / %a{:href => "#"} Surprise me
  %header
    %h1 drinkfindr
  %body
    = yield
    = javascript_include_tag "application"
  %footer
    .container
      \© Kate Montgomery 2014
      
    %p.notice= notice
    %p.alert= alert
