!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "drinkfinder"
    = stylesheet_link_tag    "application"
    %script{:src => "https://maps.googleapis.com/maps/api/js?libraries=places", :type => "text/javascript"}
    = javascript_include_tag "application"
    = csrf_meta_tags
  
  %body
    %header
      %nav.top-bar.row{"data-topbar" => "", :role => "navigation"}
        %ul.title-area
          %li.name
            %h1
              %a= link_to 'DRINKFINDR', root_path 
          %li.toggle-topbar.menu-icon
            %a{:href => "#"}
              %span Menu
        %section.top-bar-section
          / Right Nav Section
          %ul.right
            %li
              = link_to 'Recommend somewhere!', new_recommendation_path
            %li.has-dropdown.active
              %a{:href => "#"} Explore
              %ul.dropdown
                %li
                  = link_to 'Find friends', users_path
                  = link_to 'Find bars', bars_path
            / add recent recommendations here?
            - if user_signed_in? && current_user.persisted?
              %li= link_to "What up #{current_user.name}?", user_path(current_user) 
              %li= link_to "Log out", destroy_user_session_path, method: :delete, class: 'sign-up'
            - else
              %li= link_to "Sign In", new_user_session_path, class: 'sign-in'
              %li= link_to "Register", new_user_registration_path, class: 'sign-up'
             
          / Left Nav Section
          %ul.left
            %li= link_to 'Recommendations', recommendations_path
   
    .row
      %p.notice= notice
      %p.alert= alert
 
    - if params[:controller] == "recommendations" && params[:action]== "index"
      #tag_cloud.row
        - tag_cloud Recommendation.tag_counts, %w[s m l] do |tag, css_class|
          = link_to tag.name, tag_path(tag.name), class: css_class
      
    - if params[:controller] == "recommendations" && params[:action] == "new"
      #section#map-canvas

    - if params[:controller] == "home" && params[:action] == "index"
      #section#homemap-canvas
    
    %main
      .row
        = yield
    .push
    %footer
      .row
        \© Kate Montgomery 2014
      .row
        kate@drinkfindr.com
      

